html {
	font-family: Tahoma, sans-serif;
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 10px;
}
.episode{
	margin-top: 20px;
	display: inline-block;
	width: 240px;
	font-size: 20px;
	line-height: 24px;
	border-bottom: 1px dotted #aaa;
}
.title {
	font-size: 32px;
	line-height: 40px;
}
.crawl{
	font-size: 15px;
	line-height: 22px;
	color: #555;
	margin-bottom: 20px;
}
.character-list{
	font-size: 17px;
	line-height: 22px;
}
.character{
	text-indent: 20px;
	font-size: 15px;
	line-height: 22px;
	color: #555;
}
/*--------------------------------*/
.loader{
	width: 120px;
	height: 20px;
	border-radius: 100%;
	position: relative;
	margin: 10px 20px;
}

#dots span{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #6655aa;
	margin: 4px;
	opacity: 0;
}

#dots span:nth-child(1){
	animation: opacitychange 1s ease-in-out infinite;
}

#dots span:nth-child(2){
	animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#dots span:nth-child(3){
	animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
	0%, 100%{
		opacity: 0;
	}

	60%{
		opacity: 1;
	}
}
